@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');


body {
    background: url('../images/XfREyDUvNNapfMnMPV4QMk.jpg') no-repeat;
    background-size: cover;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #fff;
}

p {
    border: 0px;
    padding: 15px;
    border-radius: 3px;
    color: #999;
    background-color: #600d8c;
    width: 100%;
    margin: 10px;
}

.container {
    border: 0px;
    margin: 10px 10px 10px 100px;
    padding: 15px;
    border-radius: 3px;
    color: #999;
    background-color: #600d8c;
    width: 50%;
}   
