body {
	background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}

p {
    color: white;
    width: 1000px;
    display: inline-block;
    border-radius: 5px;
    border-width: 3px;
    background-color: #600d8c;
    opacity: 0.65;
    margin: auto;
    position: relative;
}
h1 {
	text-align: center;
	color: white;
}
a {
	position: relative;
    left: 1100px;
    bottom: 75px;
    background-color: #600d8c;
    display: inline-block;
    border-radius: 5px;
    border-width: 3px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
a:link {
    background-color: #600d8c;
}
a:visited {
    background-color: #600d8c;
}
a:hover {
    background-color: #40095d;
}
a:active {
    background-color: #40095d;
}
